@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Purchase

<center><h2>Checkout</h2></center>

<form method="post" class="form-control-sm">

    <div asp-validation-summary="All" class="text-danger"></div>
    <h4>Ship To:</h4>
    <div class="mb-3">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" placeholder="Jane Doe" />
    </div>
    <h4>Shipping Location</h4>
    <div class="mb-3">
        <label asp-for="AddressLine1">Address Line 1:</label>
        <input asp-for="AddressLine1" class="form-control" placeholder="ex) 1234 N 5678 W" />


        <label asp-for="AddressLine2">Address Line 2:</label>
        <input asp-for="AddressLine2" class="form-control" />

        <div class="row">
            <div class="col">
                <label asp-for="City">City:</label>
                <input asp-for="City" class="form-control" placeholder="ex) Provo">
            </div>
            <div class="col">
                <label asp-for="State">State:</label>
                <input asp-for="State" class="form-control" placeholder="ex) Utah" >
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Country">Country:</label>
                <input asp-for="Country" class="form-control" placeholder="ex) USA">
            </div>
            <div class="col">
                <label asp-for="ZipCode">Zip Code:</label>
                <input asp-for="ZipCode" class="form-control" placeholder="ex) 12345">
            </div>
        </div>
    </div>
    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Complete Purchase" />
    </div>
</form>

 