@page
@model Mission7_Higbee.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h3>Thank you for your order! Your package is on the way!</h3>
    <a class="btn btn-primary" asp-controller="Home">Return to Home</a>
</div>
