<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> <!--Where to display the title-->
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <!--Creates div for the toolbar at top of page-->
        <span class="navbar-brand ml-2">The Bookstore</span> <!--Text in the toolbar-->
    </div>

    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            Put something useful here
        </div>

        <div class="col-9">
            @RenderBody() <!--Where to render each specific page's information-->
        </div>
    </div>

</body>
</html>